# ETL Project

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Pulled population density of states of the United States from Wikipedia using read_html
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population_density'

In [3]:
# Read_html provided multiple tables. Table needed was at index 0
# The table returned had a tuple for table headers. Renamed columns for easier management of data frame
pop_density = pd.read_html(url)
pop_density[0].columns = ['state',
'Den_Rank(all)',
'Den_Rank(50 states)',
'den_per_sqm',
'Den_perkm2',
'Pop_Rank',
'pop_numbers',
'Land_Rank',
'land_sqm',
'Land_km2']
pop_density[0].head()

,state,Den_Rank(all),Den_Rank(50 states),den_per_sqm,Den_perkm2,Pop_Rank,pop_numbers,Land_Rank,land_sqm,Land_km2
0,District of Columbia,1,—,11011,4251,50,672228,56,61,158.0
1,New Jersey,2,1,1218,470,11,8958013,46,7354,19046.8
2,Puerto Rico,3,—,1046,404,29,3680058,49,3515,9103.8
3,Rhode Island,4,2,1021,394,44,1056298,51,1034,2678.0
4,Massachusetts,5,3,871,336,15,6794422,45,7800,20201.9

In [4]:
# Determined which columns were needed
pop_density_df = pop_density[0][['state', 'den_per_sqm', 'pop_numbers', 'land_sqm']].copy()
# One row had a footnote tag which caused erroneous data e.g. 155,959[5] which needed to be cleaned
pop_density_df['land_sqm']= pop_density_df['land_sqm'].str.replace(r"\[.*\]","").str.replace(r",","")
pop_density_df.set_index('state', inplace=True)
pop_density_df.head()

                      den_per_sqm  pop_numbers land_sqm
state
District of Columbia        11011       672228       61
New Jersey                   1218      8958013     7354
Puerto Rico                  1046      3680058     3515
Rhode Island                 1021      1056298     1034
Massachusetts                 871      6794422     7800

In [5]:
# Pulled GDP of states of the United States from Wikipedia and captured as a CSV file
gdp_per_capita = "./Resources/gdp_per_capita.csv"
gdp_df = pd.read_csv(gdp_per_capita)
gdp_df.head()

,Rank,State,2018,2017,2016,2015,2014,2013,2012,2011
0,NaN,District of Columbia,160472,159227,159395,159497,163274,166870,168030,166178
1,1.0,Massachusetts,65545,64507,62510,61882,62456,61769,60808,59178
2,2.0,New York,64579,64093,63420,62444,62841,61185,61267,59481
3,3.0,Connecticut,64511,63747,62236,62550,63502,63638,64906,65574
4,4.0,Alaska,63971,67705,67411,69700,73478,70573,69564,72204

In [6]:
# Determined which columns were needed
new_gdp_df = gdp_df[['State', '2015']].copy()
# Targeted year 2015 to match data from the population density data and renamed to 'gdp'
new_gdp_df = new_gdp_df.rename(columns={"2015": "gdp", "State": "state"})
new_gdp_df.set_index('state', inplace=True)
new_gdp_df.head()

                         gdp
state
District of Columbia  159497
Massachusetts          61882
New York               62444
Connecticut            62550
Alaska                 69700

In [7]:
# Connect to postgres DB
connection_string = "postgres:postgres@localhost:5432/states_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
# Confirm tables
engine.table_names()

['states_gdp', 'states_pop']

In [9]:
# Load data into states_db.states_pop
engine.execute('DELETE FROM states_pop', con=engine)
pop_density_df.to_sql(name='states_pop', con=engine, if_exists='append', index=True)

In [10]:
# Load data into states_db.states_gdp
engine.execute('DELETE FROM states_gdp', con=engine)
new_gdp_df.to_sql(name='states_gdp', con=engine, if_exists='append', index=True)

In [11]:
# Query DB with an inner join to bring data together
states_all_df = pd.read_sql_query('SELECT states_gdp.state, states_gdp.gdp, states_pop.den_per_sqm, states_pop.pop_numbers, states_pop.land_sqm  FROM states_pop INNER JOIN states_gdp ON states_gdp.state = states_pop.state', con=engine)
states_all_df.head(100)

                   state     gdp  den_per_sqm  pop_numbers  land_sqm
0   District of Columbia  159497        11011       672228        61
1             New Jersey   55750         1218      8958013      7354
2           Rhode Island   46356         1021      1056298      1034
3          Massachusetts   61882          871      6794422      7800
4            Connecticut   62550          741      3590886      4842
5               Maryland   53765          618      6006401      9707
6               Delaware   60719          485       945934      1949
7               New York   62444          420     19795791     47126
8                Florida   38023          378     20271272     53625
9           Pennsylvania   48278          286     12802503     44743
10                  Ohio   45254          284     11614373     40861
11            California   53855          251     39144818    155959
12              Illinois   51963          231     12859995     55519
13                Hawaii   49539          222      1431603      6423
14              Virginia   51106          212      8382993     39490
15        North Carolina   42945          206     10042802     48618
16               Indiana   43866          184      6619680     35826
17               Georgia   42500          177     10214860     57513
18              Michigan   40993          175      9922576     56539
19        South Carolina   35701          162      4896146     30061
20             Tennessee   41487          160      6600299     41235
21         New Hampshire   48871          148      1330608      8953
22              Kentucky   38247          112      4425092     39486
23             Louisiana   43725          108      4670724     43204
24            Washington   54161          107      7170351     66456
25             Wisconsin   45845          106      5771337     54158
26                 Texas   52018          105     27469114    261232
27               Alabama   36660           95      4858979     50645
28              Missouri   42487           88      6083672     68742
29         West Virginia   35755           76      1844128     24038
30             Minnesota   51999           68      5489594     79627
31               Vermont   42914           67       626042      9217
32           Mississippi   31923           63      2992333     46923
33               Arizona   38303           60      6828065    113594
34              Arkansas   35865           57      2978204     52035
35              Oklahoma   43288           57      3911338     68595
36                  Iowa   48002           55      3123899     55857
37              Colorado   50475           52      5456574    103642
38                 Maine   37477           43      1329328     30843
39                Oregon   48094           41      4028977     95988
40                  Utah   42267           36      2995919     82170
41                Kansas   45470           36      2911641     81759
42                Nevada   43075           26      2890845    109781
43              Nebraska   51565           24      1896190     76824
44                 Idaho   34748           20      1654930     82643
45            New Mexico   39659           17      2085109    121298
46          South Dakota   46869           11       858469     75811
47          North Dakota   67651           10       756927     69001
48               Montana   38476            7      1032949    145546
49               Wyoming   60770            6       586107     97093
50                Alaska   69700            1       738432    570641